p{
   display:inline-block;
   text-align: left;
   /*text aligned to left*/
   font-size: large;
}
.Event1RegCss
{
  display: inline-block;
}
#para_E1Reg
{
  font-size:25px;
  text-align: left;
   display: inline-block;
}
