.Report_Gen_css
{
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 30px;
    border: 2px solid ;
    border-radius: 20px; 
    width: 500px;
    height:240px;
}
label{
  width:220px;
  padding-right:8px;
  /*all the input fields get aligned in one line*/
  display: inline-block;
  text-align:right;
}
input
{
 width:200px;
 /*adds circular ends to the input field*/
 border-radius: 6px; 
}
button
{
  border-radius: 6px;
  background-color: lightgreen;
  height: 35px;
  width:190px;
}

.AddEventCss
{
 display:inline-block;
  padding-bottom: 50px;
  padding-top: 30px;
  border: 2px solid ;
  border-radius: 20px; 
  width: 500px;
  height:470px;
}
.OrgRegCss
{
  display:inline-block;
  padding-bottom: 50px;
  padding-top: 30px;
  border: 2px solid ;
  border-radius: 20px; 
  width: 510px;
  height:380px;
}
