.BorderCss
{
  display:inline-block;
  padding-bottom: 50px;
  padding-top: 30px;
  border: 2px solid ;
  border-radius: 20px; 
  padding-left: 22px;
  width: 450px;
  height:490px;
  margin-left: 50px;
}
.Border2
{
  display:inline-block;
  padding-bottom: 50px;
  border: 1px solid ;
  border-radius: 14px; 
  width: 420px;
  height:302px;
  padding-left:4px;
  padding-top: 10px;
}
#ip_user,#ip_pwd
{
 width:300px;
 height: 30px;
 /*adds circular ends to the input field*/
 border-radius: 6px; 
 margin-left: 60px;
}
#btn_login,#btn_signup
{
  color: white;
  border-radius: 6px;
  background-color:purple;
  height: 45px;
  width: 300px;
  font-size: x-large;
  margin-left: 60px;
  box-shadow: 10px 10px 5px #ccc;
}
#lbl_user,#lbl_pwd{
  padding-top: 5px;
  text-align: left;
  /*all the input fields get aligned in one line*/
  display:inline-block;
  padding-bottom: 10px;
  font-size: x-large;
  margin-left: 60px;
}
img{
  padding-left: 130px;
  width: 150px;
  height: 150px;
  display: inline-block;
}
#validation_login
{
  color:red;
  font-size: 14px;
  margin-left: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#headLogin
{
  margin-left: 210px;
  color:rgb(202, 30, 202)
}
.LoginContainer
{
  display: flex;
  align-items: center;
}
#btn_signup:hover
{
  background-color: rgb(173, 28, 173);
}
#btn_login:hover
{
  background-color: rgb(173, 28, 173);
}